{% extends 'base.html.twig' %}

{% block title %}SystemInformation{% endblock %}

{% block body %}
    <h1>SystemInformation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ system_information.id }}</td>
            </tr>
            <tr>
                <th>UsualInformationName</th>
                <td>{{ system_information.usualInformationName }}</td>
            </tr>
            <tr>
                <th>SiiName</th>
                <td>{{ system_information.siiName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ system_information.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('system_information_index') }}">back to list</a>

    <a href="{{ path('system_information_edit', {'id': system_information.id}) }}">edit</a>

    {{ include('system_information/_delete_form.html.twig') }}
{% endblock %}
